[package]
name = "stacks"
version = "0.1.0"
edition = "2021"
description = "stacks is a service that proxies embedded databases like SQLite and DuckDB"
license = "Apache-2.0"

[dependencies]
actix-web = { version = "4.3.0" }
clap = { version = "3.2.8", features = ["cargo", "derive"] }
derive_more = { version = "0.99.0" }
dotenvy = { version = "0.15.6" }
env_logger = { version = "0.10.0" }
reqwest = { version = "0.11.14", features = ["json"] }
rusqlite = { version = "0.28.0", features = ["bundled"] }
serde = { version = "1.0", features = ["derive"] }
serde_repr = { version = "0.1.9" }
sqlx = { version = "0.6.2", features = ["runtime-actix-native-tls", "postgres", "offline"] }
tokio = { version = "1.25.0", features = ["macros", "rt"] }

[dev-dependencies]
assert_cmd = "2.0"
assert-json-diff = "2.0.2"
serde_json = "1.0.85"
