[package]
name = "ayb"
version = "0.1.6"
edition = "2021"
description = "ayb makes it easy to create, host, and share embedded databases like SQLite and DuckDB"
homepage = "https://github.com/marcua/ayb"
documentation = "https://github.com/marcua/ayb#readme"
license = "Apache-2.0"
default-run = "ayb"

[dependencies]
actix-web = { version = "4.4.1" }
actix-web-httpauth = { version = "0.8.1" }
async-trait = { version = "0.1.77" }
clap = { version = "4.4.18", features = ["cargo", "derive", "env"] }
derive_more = { version = "0.99.0" }
directories = { version = "5.0" }
dyn-clone = { version = "1.0.16" }
env_logger = { version = "0.10.2" }
fernet = { version = "0.2.1" }
lettre = { version = "0.11.3", features = ["tokio1-native-tls"] }
quoted_printable = { version = "0.5.0" }
reqwest = { version = "0.11.23", features = ["json"] }
rusqlite = { version = "0.27.0", features = ["bundled", "limits"] }
regex = { version = "1.10.2"}
rustyline = { version = "13.0.0" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.112", features = ["raw_value"] }
serde_repr = { version = "0.1.18" }
sqlx = { version = "0.6.3", features = ["runtime-actix-native-tls", "postgres", "sqlite"] }
toml = { version = "0.8.8" }
tokio = { version = "1.35.1", features = ["macros", "process", "rt"] }
prefixed-api-key = { version = "0.1.0", features = ["sha2"]}
prettytable-rs = { version = "0.10.0"}
urlencoding = { version = "2.1.3" }
actix-cors = { version = "0.7.0" }
url = { version = "2.5.0", features = ["serde"] }
scraper = {  version = "0.18.1" }

[dev-dependencies]
assert_cmd = "2.0"
assert-json-diff = "2.0.2"

[[bin]]
name = "ayb"
path = "src/bin/ayb.rs"

[[bin]]
name = "ayb_isolated_runner"
path = "src/bin/ayb_isolated_runner.rs"
