[package]
name = "ayb"
version = "0.1.4"
edition = "2021"
description = "ayb makes it easy to create, host, and share embedded databases like SQLite and DuckDB"
homepage = "https://github.com/marcua/ayb"
documentation = "https://github.com/marcua/ayb#readme"
license = "Apache-2.0"

[dependencies]
actix-web = { version = "4.4.0" }
async-trait = { version = "0.1.73" }
clap = { version = "4.4.2", features = ["cargo", "derive", "env"] }
derive_more = { version = "0.99.0" }
dyn-clone = { version = "1.0.14" }
env_logger = { version = "0.10.0" }
fernet = { version = "0.2.1" }
lettre = { version = "0.10.4", features = ["tokio1-native-tls"] }
quoted_printable = { version = "0.5.0" }
reqwest = { version = "0.11.20", features = ["json"] }
rusqlite = { version = "0.27.0", features = ["bundled"] }
regex = { version = "1.9.5"}
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.107" }
serde_repr = { version = "0.1.16" }
sqlx = { version = "0.6.3", features = ["runtime-actix-native-tls", "postgres", "sqlite"] }
toml = { version = "0.7.6" }
tokio = { version = "1.32.0", features = ["macros", "rt"] }
prettytable-rs = "0.10.0"

[dev-dependencies]
assert_cmd = "2.0"
assert-json-diff = "2.0.2"
