[package]
name = "stacks"
version = "0.1.0"
edition = "2021"
description = "stacks is a service that proxies embedded databases like SQLite and DuckDB"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4"
clap = { version = "3.2.8", features = ["cargo", "derive"] }
derive_more = { version = "0.99.0" }
rusqlite = { version = "0.27.0", features = ["bundled"] }
serde = { version = "1.0", features = ["derive"] }
sqlx = { version = "0.6.2", features = ["runtime-actix-rustls", "any", "migrate", "tls"] }

[dev-dependencies]
assert_cmd = "2.0"
assert-json-diff = "2.0.2"
serde_json = "1.0.85"