{% extends "base.html" %}

{% block content %}
<nav class="bg-white shadow-sm mb-6">
    <div class="max-w-screen-xl mx-auto px-6 py-4">
        <div class="flex justify-between items-center">
            <a href="/" class="text-xl font-bold">ayb</a>
            <div>
                {% if logged_in_entity %}
                <a href="/{{ logged_in_entity }}">{{ logged_in_entity }}</a> <span>(<a href="/log_out">log out</a>)</span>
                {% else %}
                <a href="/register">Register</a>
                <a href="/log_in">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<div class="max-w-screen-xl mx-auto px-6">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
